.page-title {
    font-family: 'Roboto', sans-serif; /* Fuente moderna y legible */
    font-size: 2.5em; /* Tamaño grande para destacarse */
    font-weight: 700; /* Negrita para mayor impacto */
    color: #333; /* Color oscuro para buen contraste */
    text-align: center; /* Centrando el texto */
    margin-top: 20px; /* Espacio arriba del título */
    margin-bottom: 20px; /* Espacio abajo del título */
    padding: 0 15px; /* Espaciado interno lateral para evitar que el texto toque los bordes */
    line-height: 1.2; /* Espaciado entre líneas para mejorar la legibilidad */
    border-bottom: 2px solid #ddd; /* Línea sutil debajo del título */
    display: inline-block; /* Alinea el título con la línea de base */
}

/* Estilos básicos para el ejemplo */
.search-container {
    margin: 20px;
    text-align: center;
}

.search-input {
    padding: 10px;
    font-size: 1em;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}

    .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    }

    .card img {
        width: 100%;
        height: auto;
    }

.card-content {
    padding: 20px;
}

.card h3 {
    margin: 0;
    font-size: 1.6em;
    color: #333;
    font-weight: 700;
}

.card p {
    margin: 10px 0;
    color: #555;
    font-size: 1em;
    line-height: 1.5;
}

.card .dates p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #888;
    font-style: italic;
}

    .card .dates p:first-child {
        margin-top: 15px;
    }

.card p.id {
    font-size: 0.95em;
    color: #666;
    margin-top: 10px;
    font-weight: 600;
}

.card .descripcion {
    color: #444;
    font-size: 1em;
    margin: 10px 0;
    font-weight: 500;
}

.add-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    height: 100%;
    border: 2px dashed #ccc;
    border-radius: 12px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

    .add-card:hover {
        border-color: #999;
        background-color: rgba(0, 0, 0, 0.05);
    }

    .add-card i {
        font-size: 3em;
        color: #666;
        transition: color 0.3s ease;
    }

    .add-card:hover i {
        color: #333;
    }
